body {
  background-color: Black;
}
.title {
  font-family: cursive;
  font-size: 36px;
  text-align: center;
  color: Orange;
}
.spaceparent {
  padding: 2rem 2rem;
  text-align: center;
}
.spacechild {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7%;
}
.rounded {
  border-top: 8px solid gold;
  border-radius: 5px;
}
.spacechild2 {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
}

a:link,
a:visited,
a:hover:after,
a:active {
  color: Orange;
  text-decoration: none;
}

a:hover {
  color: White;
}
